/*common start*/
body{
	/*font-family: ;*/
	font-size: 16px;
	font-weight: 400;
	color: #0f2656;
}
/*common end*/
/*header start*/
header{}
.container {
}

.logo img{
}

.menu {
}
.menu ul{}
.menu ul li{}
.menu ul li a{}
/*hesder end*/









 

























/*h2{
	color: green;
}

.red{
	color: red ;
}*/
  
